.post-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 900px;
  }
  
  .post-picture {
    border-radius: 10px; 
    max-width: 100%;
    min-width: 100%;
  }
  
  .post-content {
    margin-top: 10px;
  }
  
  .post-title {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    color: #333;
  }
  
  .post-summary {
    padding: 20px;
    border-radius: 8px;
  }
  
  .post-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .post-button:hover {
    background-color: #0056b3;
  }
  
  /* responsivnes */
@media (max-width: 768px) {
    .post-card {
        padding: 15px;
    }

    .post-title,
    .post-summary {
        padding: 8px;
    }
}