body {
    margin: 0;
 
}


.post-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    background-color: #efefef;
  }


.post-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 900px;
  }
  
  .post-picture {
    border-radius: 10px; 
    max-width: 100%;
    min-width: 100%;
  }
  
  .post-content {
    margin-top: 10px;
  }
  
  .post-title {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    color: #333;
  }
  
  .post-summary {
    padding: 20px;
    border-radius: 8px;
    color: black; 
  }

  .post-link {
    text-decoration: none
  }
  
  /* responsivnes */
@media (max-width: 768px) {
    .post-card {
        padding: 15px;
    }

    .post-title,
    .post-summary {
        padding: 8px;
    }
}